.topNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--page-padding-x);
}

@media (min-width: 1000px) {
  .topNav {
    flex-direction: row;
    gap: 1rem;
  }
}

.topNavFirst {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navMenu li {
  padding: 0;
  margin: 0;
}

.navMenu a {
  display: inline-block;
  padding: 0.5em 0;
  color: #058;  
  transition: all;
}

@media (min-width: 1000px) {
  .navMenu a {
    white-space: nowrap;
  }
}


.navMenu a:hover,
.navMenu a:focus {
  background: rgba(0, 0, 0, 0.1);
}

.pageTitle {
  font-size: 2rem;
  font-weight: 100;
  padding: 0;
  margin: 0;
}
