services:
  web-locnet:
    image: locnet:main
    build:
      dockerfile: ./Dockerfile
      target: production
    restart: always
    container_name: web-locnet
    env_file:
      - .env
    environment:
      DATABASE_URL: sqlite+aiosqlite:////app/runtime/app.db
      SEED_DATABASE_PATH: /usr/src/app/app/data/app.db
    develop:
      watch:
        - action: sync
          path: ./spa/dist
          target: /usr/src/app/spa/dist
          ignore:
            - spa/node_modules/
    ports:
      - "8000:8000"
    volumes:
      - ./cache:/usr/src/app/cache
      - ./runtime:/app/runtime

  test:
    image: locnet:test
    build:
      dockerfile: ./Dockerfile
      target: test
    environment:
      DATABASE_URL: sqlite+aiosqlite:////app/test-runtime/app.db
      SEED_DATABASE_PATH: /usr/src/app/app/data/app.db
    tmpfs:
      - /app/test-runtime
